@import "_mixin";

.fo_b{
    font-size:2.125rem;
}

.fo_f{
    font-size: 1.5rem;
}
.fo_default{
    font-size: 1rem;
}
.fo_copy{
    font-size: 1.125rem;
}

.inner{
    width: 90%;
    margin: 0 auto;
    max-width: 1720px;
}
.inner2{
    width: 95%;
    margin: 0 auto;
    // max-width: 1800px;
}



#header{    
    height: 95px;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #fff;
    transition: background 1s;
    &.on{
        background: #fff;
        transition: background 1s;      
        top: 0;
        left: 0;
        border-bottom: 1px solid #eee;
    }
    .inner,
    .inner2{
        height: 100%;
    }
    .navbar{
        height: 100%;
        .container{            
            @include flex_between;   
            align-items: center;       
            height: 100%;
            

         

            #navbarNav{
                @include flex_end;
                width: 100%;
                
                .navbar-nav{
                    @include flex_center;

                }
                .consulting{
                    margin: 0 0 0 5%;
                    
                }
                ul{
                    >li.nav-item{
                        width: 110px;
                        text-align: center;
                        margin: 0px 45px;
                        padding: 22px 0;
                        position: relative;
                        &:hover{
                            &:after{
                                 width: 100%;
                            }
                         }
                        &:after{
                            content:"";
                            display: block;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            background: #84ABDD;
                            width: 0;
                            height: 2px;
                            transition: width 1s;

                            
                        }
                        &.on{
                            .sub_menu{
                                opacity: 1;
                                transition: opacity .5s;
                                visibility: visible;
                            }
                            a{
                                color: #00AFFF;
                                font-weight: 500;
                            }
                        }
                        
                        &:last-child{
                            margin: 0 0 0 30px;
                        }

                        .sub_menu{
                            position: absolute;
                            top: 94px;
                            left: 50%;
                            padding: 15px 10px;
                            background: #fff;
                            width: 200px;
                            height: auto;
                            opacity: 0;
                            transition: opacity .5s;
                            visibility: hidden;
                            box-shadow: 0 1px 3px #eee;
                            transform: translate(-50%,0);
                            li{
                                padding: 20px 10px;
                                
                                a{
                                    display: inline-block;
                                    position: relative;
                                    color: #232323;
                                    font-weight: 400;
                                    &:hover{
                                        &:after{
                                             width: 100%;
                                        }
                                     }
                                    &:after{
                                        content:"";
                                        display: block;
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        background: #84ABDD;
                                        width: 0;
                                        height: 2px;
                                        transition: width 1s;
            
                                        
                                    }
                                    i{
                                        display: block;
                                        width: 0%;
                                        height: 2px;
                                        background: #fff;
                                        border-radius: 0;
                                        transition: all 1s;
                                        margin: 8px 0 0;
                                    }
                                    &:hover{
                                        font-weight: 600;
                                        
                                        i{
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                        >a{
                            padding: 7px 0;                         
                            border-radius: 30px;
                            position: relative;
                            
                            &:hover{
                               &:after{
                                    
                               }
                                
                               
                               
                            }
                        }

                        
                    }
                }
                .consulting{
                    a{
                        background: #1445CE;
                        color: #fff;
                        width: 140px;
                        height: 45px;
                        line-height: 45px;
                        color: #fff;
                        font-weight: 600;
                        border-radius: 30px;
                        text-align: center;
                    }
                }
                .navbar-toggler{
                    position: relative;
                    width: 33px;
                    // height: 42px;
                    border: 0;
                    outline: 0;
                    background: transparent;
                    padding: 14px 4px 15px;
                    
                   
            
                    .btn_line_02{
                        margin: 8px 0; 
                        
                    }
                    
                    &.on{
                      .btn_line_01{       
                       transform: rotateZ(-45deg) translate3d(-7px,7px,0);
                        width: 25px;
                      }
                      .btn_line_02{
                        opacity: 0;
                        transform: translateX(0);
                      }
                      .btn_line_03{
                        transform: rotateZ(45deg) translate3d(-7px,-7px,0);
                        width: 25px;
                      }
                      .hamburger-menu{
                        &:hover{
                            span{
                                &.iconbar{
                                    &.btn_line_01{
                                        width: 25px;
                                    }
                                    
                                    &.btn_line_03{
                                        width: 25px;
                                    }
                                }
                            }
                        }
                      }
                     
                    }
                    .hamburger-menu{
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        cursor: pointer;

                        &:hover{
                            span{
                                &.iconbar{
                                    &.btn_line_01{
                                        width: 17px;
                                    }
                                    &.btn_line_02{
                                        width: 25px;
                                    }
                                    &.btn_line_03{
                                        width: 17px;
                                    }
                                }
                            }
                        }
                        span{
                            display: block;
                            width: 100%;
                            height: 4px;
                            position: absolute;
                            left: 0;
                            transition: transform 0.3s ease;
                           
                            &.iconbar{
                                position: relative;
                                display: block;
                                width: 25px;
                                height: 2px;
                                background: #232323;
                                transition: all .2s ease-in-out;
                                transition: width .13s ease-out,
                                transform .13s ease-out,
                                opacity .13s ease-out;
                                &:nth-child(2){
                                    width: 17px;
                                }
                            }
                            &::before{
                                content: '';
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                background: #888;
                            }
                            &::after{
                                content: '';
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                background: #888;
                            }
                           
                            
                        }
                      
                    }
                }
            }

            
        }
    }
    .logo{
        img{
            max-height:102px;            
        }
    }
    .navbar-toggler{
        display: none;        
    }

}
.content_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    //  transform: scale(.8, .8);
    //  transition: transform 2500ms ease-in-out;
display: none;
    img{
        width: 100%;
        height: 100%;
    }
}
.aside_bg {

    &.on{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
        z-index: 10;
    }
}
#aside{
    position: fixed;
    right: -70%;
    top: 0;
    bottom: 0;
    width: 70%;
    padding: 100px 0 0;

    background-color: #fff;
    z-index: 99;
    background: #2D6770;
    -webkit-transition: right 300ms ease-in-out;
    -moz-transition: right 300ms ease-in-out;
    -o-transition: right 300ms ease-in-out;
    transition: right 300ms ease-in-out;


    &.on{
        right: 0;
    }

    .navbar-nav_m{
     
        height: 100%;     
        padding: 30px 0 0 50px;
        li{

            line-height: 3;
            margin: 0 0 10px 0;
            &.on{
                .sub{
                    
                    
                }
            }
            .sub{
                margin: 0 0 15px 30px;
                display: none;
                li{
                     a{
                        font-weight: 400;
                    }
                }
            
            }
            >a{
            
                font-weight:800;
                color: #fff;
                i{
                    display: inline-block;
                    width: 5px;
                    height: 5px;
                    background: #4F9EC5;
                    border-radius: 50px;
                }
            }
        }
    }
}







#footer{
    position: relative;
    background: #2D6770;
    text-align: center;
    #toTopButton{
        position: fixed;
        bottom: 50px;
        right: 20px;
        width: 50px;
    
        > img{
            width: 60px;
        }
    }
    .inner{
        padding: 50px 0 30px;
        position: relative;
        .flex{
            text-align: center;
            
            #f_logo{
                width: 190px;
                margin: 0 auto 10px;
            }
            ul{
                @include flex_between;
                li{
                    a{
                        font-weight: 600;
                        margin: 0 30px;
                        
                       
                    }
                }
            }
        }
        .sns{
            position: absolute;
            top: 60px;
            right: 0;
            @include flex_center;
            a{
                margin: 0 10px 0 0;
                &:last-child{
                    margin: 0;
                }
            }
        }
    }
    .address {
        color: #fff;
        line-height: 2;
        p.flex{
            @include flex_center;
          
            span{
               
                
                a{
                    color: #fff;
                    
                }
            }
        }
        p{
            b{
                margin: 0 5px 0 0;
            }
            a{
                color: #fff;
                display: inline-block;
            }
        }
        span{
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }

            &.block{
                display: block;
            }
        }
        
    }
    .copyright {
       
        color: #fff;
        padding: 10px 0;
        font-weight: 800;
        border-top: 1px solid #ddd;
        
    }
}

#totop{
    opacity: 0;
    // position: fixed;
    // bottom: 0;
    // right: 0;
    position: sticky;
    z-index: 10000;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    border-radius: 4px;
    transition: opacity 0.5s;
    width: 40px;
    height: 40px;
   
}






/* ======================= 1600 =============================*/
@include breakpoint_desktop_1600{
  
    #header{
        
        .logo {
            img{
                
            }
        }
    }
}




/* ======================= 1440 =============================*/
@include breakpoint_desktop_1440{
    #header {
        
        .navbar {
            .container {
                #navbarNav {
                    ul{
                        li{
                            margin: 0 20px;
                           &.nav-item{
                                &:last-child{
                                    margin: 0 0 0 20px;
                                }
                           }
                        }
                    }
                }
            }
        }
    }
}




/* ======================= 1360 =============================*/
@include breakpoint_desktop_1360{
    
  
}




/* ======================= 1280 =============================*/
@include breakpoint_desktop_1280{
    #header {
        .navbar {
            .container {
                #navbarNav {
                    ul {
                        > li.nav-item{
                            margin: 0 30px;
                        }
                    }
                }
            }
        }
    }
    #footer {
        .inner {
            .flex{
              
                
                ul{
                    li{
                        a{
                            margin: 0 20px;
                        }
                    }
                }
            }
            .b_box{
                padding: 30px 0px;
                .address{
                   span{
                       br{
                        display: none;
                       }
                   }
                }
            }
        }
    }
}





/* ======================= 1024 =============================*/
@include breakpoint_tablet_1024{
    .inner2{
        width: 90%;
    }
    #header {
        height: 80px;
        .logo {
            img{
                max-height: 80px;
            }
        }
        .navbar {
            .container {
                #navbarNav {
                    .consulting{
                        display: none;
                    }
                    .navbar-nav{
                        display: none;
                    }
                    .navbar-toggler{
                        display: block;
                    }
                }
            }
        }
    }


    #aside{
        padding: 80px 0 0;
    }
}


/* ======================= 768 =============================*/
@include breakpoint_tablet_768{
    
    #header{
        
        .navbar{
            .container{
               
            }
        }
    }

    #aside {
        padding: 70px 0 0;
        .navbar-nav_m{
            padding: 30px;
        }
    }
  
    #footer {
        .inner {
            .flex{
                display: block;
               
                ul{
                    li{
                        a{
                            margin: 30px 0 0;
                        }
                    }
                }
            }
            .b_box{
                display: block;
                .sns{
                    position: absolute;
                    top: 60px;
                    right: 20px;
                }
            }
        }
        .address{
            p.flex{
                flex-direction: column;
            }
            span{
                &.block{
                    display: initial;
                }
            }
        }
    }
}


/* ======================= 640 =============================*/
@include breakpoint_mobile_640{
    #footer {
        .inner{
            padding: 100px 0 30px;
            .sns{
                position: absolute;
                top: 35px;
                left: 50%;
                right: auto;
                transform: translate(-50%,0);
            }
        }
    }
    
}


/* ======================= 540 =============================*/

@include breakpoint_mobile_540{
    #footer {
        .inner{
            padding: 80px 0 30px;
            .flex {
                #f_logo{
                    margin: 5px auto 20px;
                }
            }
        }
        .address {
            p.flex{
                flex-direction: column;
            }
            p{
                span{
                    display: block;
                    margin-right: 0;
                }
            }
        }
    }
}





/* ======================= 480 =============================*/

@include breakpoint_mobile_480{
    #aside{
        padding: 60px 0 0;
    }
    #header{
        height: 60px;
        .navbar{
            .container{
              
                #navbarNav {
                    .navbar-toggler{
                        width: 35px;
                    }
                }
            }
        }
       
    }

}

/* ======================= 414 =============================*/
@include breakpoint_mobile_414{
    #aside{
        width: 85%;
        right: -85%;
    }
    #footer {
        .inner {
            .flex {
                #f_logo {
                    img{
                        max-width: 160px;
                    }
                }
            }
        }
    }
}



