.mf_big {
  font-size: 4.8125rem;
}

.mf_nomal {
  font-size: 3.75rem;
}

.mf_nom {
  font-size: 4.375rem;
}

.mf_lonf {
  font-size: 2.5rem;
}

.mf_xom {
  font-size: 1.375rem;
}

.mf_lom {
  font-size: 1.9375rem;
}

.mf_som {
  font-size: 1.875em;
}

.mf_sub {
  font-size: 1.5625rem;
}

.mf_small {
  font-size: 1.25rem;
}

.mf_default {
  font-size: 1rem;
}

.t_center {
  text-align: center;
}

.sm_title {
  font-size: 1.25rem;
}

.big_title {
  font-size: 2.5rem;
}

#contents {
  position: relative;
  padding-top: 95px;
}

.mt {
  margin: 100px 0 0;
}

.mb {
  margin: 0 0 100px 0;
}

#deps01 {
  position: relative;
}
#deps01 .inner2 .videobox {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  animation: crescendo 1.5s alternate forwards ease-in;
  transform: scale(1.5);
  transition: transform 2s ease-in-out;
  position: relative;
  z-index: 999;
}
@keyframes crescendo {
  100% {
    transform: scale(1);
    z-index: 10;
  }
}
#deps01 .inner2 .videobox #myVideo {
  width: 100%;
  height: 88vh;
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
  border-radius: 20px;
}
#deps01 .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}
#deps01 .inner .title_bx {
  color: #fff;
  height: 100%;
  text-align: center;
}
#deps01 .inner .title_bx p {
  margin: 0 0 30px 0;
  letter-spacing: 8px;
}
#deps01 .inner .title_bx .big_title {
  line-height: 1.2;
}

#deps02 {
  text-align: center;
  padding: 100px 0 0;
}
#deps02 .inner {
  padding: 0 0 100px 0;
}
#deps02 .inner p {
  margin: 20px 0 0;
}
#deps02 h3.title {
  margin: 0 0 10px 0;
}
#deps02 .h_box ul li {
  float: left;
  width: 33.33%;
}
#deps02 .h_box ul li .box .p_show {
  display: block;
  width: 100%;
}
#deps02 .h_box ul li .box .m_show {
  display: none;
}
#deps02 .h_box ul li:hover .box:after {
  opacity: 1;
  visibility: visible;
}
#deps02 .h_box ul li:hover .w-content h2 {
  margin-top: 0;
}
#deps02 .h_box ul li:hover .w-content i {
  opacity: 1;
  margin: 30px auto 0;
}
#deps02 .h_box ul li .box {
  position: relative;
}
#deps02 .h_box ul li .box::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}
#deps02 .h_box ul li .frame {
  position: absolute;
  border: 5px solid #E6E6E6;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#deps02 .h_box ul li .w-content .frame {
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: transparent;
  color: #fff;
}
#deps02 .h_box ul li .w-content h2 {
  margin-top: 30px;
  top: 50%;
  transform: translatey(-50%);
  text-align: center;
  letter-spacing: 1px;
  position: relative;
  font-weight: 400 !important;
  line-height: 1.2;
  transition: all 0.5s ease-in-out;
}
#deps02 .h_box ul li .w-content b {
  display: block;
}
#deps02 .h_box ul li .w-content i {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  transform-origin: center center;
  transition: 0.5s;
  border: 2px solid #fff;
  border-radius: 100%;
  padding: 2px;
  margin: 0px auto;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
#deps02 .h_box ul li .w-content i::before {
  display: block;
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}
#deps02 .h_box ul li .w-content i:after {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}
#deps02 .h_box ul li .w-content p {
  transform: translate3d(0, -10px, 0);
}
#deps02 .h_box ul li .w-content:hover .frame {
  border-color: #fff;
  transition: color 0.3s ease-in-out, all 0.3s ease-in-out;
  width: 80%;
  height: 80%;
}

#deps03 {
  padding: 100px 0;
}
#deps03 .inner {
  max-width: 1500px;
}
#deps03 .tube {
  display: flex;
  justify-content: center;
  align-items: center;
}
#deps03 .tube .videobox {
  margin: 0 5% 0 0;
  box-sizing: border-box;
  overflow: hidden;
}
#deps03 .tube .videobox #myVideo3 {
  width: 100%;
  height: 100%;
  max-width: 895px;
  border-radius: 20px;
}
#deps03 .tube .txt h3 {
  margin: 0 0 10px 0;
}

#deps04 {
  background: #F2F4F5;
  padding: 100px 0;
  overflow: hidden;
}
#deps04 .inner {
  text-align: center;
}
#deps04 .inner p {
  letter-spacing: 6px;
}
#deps04 .swiper {
  max-width: 1500px;
  overflow: inherit;
  margin: 100px auto 0;
  width: 95%;
}
#deps04 .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
#deps04 .swiper-slide figure {
  width: 40%;
}
#deps04 .swiper-slide .txt {
  width: 45%;
  margin: 0 0 0 5%;
}
#deps04 .swiper-slide .txt a {
  display: block;
}
#deps04 .swiper-slide .txt a .cate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
#deps04 .swiper-slide .txt a .subject {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
#deps04 .swiper-slide .txt a .content {
  display: block;
  margin: 15px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#deps04 .swiper-slide .txt a i {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  transform-origin: center center;
  transition: 0.5s;
  border: 2px solid #707070;
  border-radius: 100%;
  padding: 2px;
  margin: 30px 0 0;
}
#deps04 .swiper-slide .txt a i::before {
  display: block;
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #707070;
}
#deps04 .swiper-slide .txt a i:after {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #707070;
}
#deps04 .swiper-slide .txt a i:hover {
  transform: translateY(-12%);
}
#deps04 .swiper-button-prev,
#deps04 .swiper-rtl .swiper-button-next {
  color: #707070;
}
#deps04 .swiper-button-next,
#deps04 .swiper-rtl .swiper-button-prev {
  color: #707070;
}

#deps05 {
  background: url("../img/deps05_bg.jpg") no-repeat center/cover;
  padding: 100px 0;
  width: 100%;
  height: 100%;
}
#deps05 .inner {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
}
#deps05 .inner p {
  letter-spacing: 6px;
}
#deps05 .inner ul {
  margin: 50px 0 0;
}
#deps05 .inner ul li {
  margin: 0 0 100px 0;
}
#deps05 .inner ul li:last-child {
  margin: 0;
}
#deps05 .inner ul li.left .fox {
  margin-left: 8%;
}
#deps05 .inner ul li.last .fox {
  justify-content: end;
}
#deps05 .inner ul li.last .txt {
  text-align: right;
  margin: 0 5% 0 0 !important;
}
#deps05 .inner ul li .fox {
  display: flex;
  align-items: center;
}
#deps05 .inner ul li .fox .txt {
  margin: 0 0 0 5%;
}
#deps05 .inner ul li .fox .txt > * {
  display: block;
}
#deps05 .inner ul li .fox .txt span.mf_sub {
  margin: 20px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
#deps05 .inner ul li .fox .txt b.mf_lonf {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
#deps05 .inner ul li .fox .txt i {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  transform-origin: center center;
  transition: 0.5s;
  border: 2px solid #707070;
  border-radius: 100%;
  padding: 2px;
  margin: 30px 0 0;
}
#deps05 .inner ul li .fox .txt i::before {
  display: block;
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #707070;
}
#deps05 .inner ul li .fox .txt i:after {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #707070;
}
#deps05 .inner ul li .fox .txt i:hover {
  transform: translateY(-10px);
}
#deps05 .inner ul li.center .fox {
  justify-content: center;
}
#deps05 .inner ul li.center .fox .txt {
  text-align: right;
  margin: 0 5% 0 0;
}

#deps06 {
  padding: 100px 0;
}
#deps06 .con_box {
  display: flex;
  border: 10px solid #CFCFCF;
  padding: 100px;
  justify-content: space-between;
}
#deps06 .con_box .title {
  width: 27%;
  margin: 0 5% 0 0;
}
#deps06 .con_box .title span {
  display: block;
  letter-spacing: 7px;
}
#deps06 .con_box .title a {
  margin: 30px 0 0;
  display: flex;
  align-items: center;
}
#deps06 .con_box .title a i {
  background: url("../img/tel.png") no-repeat center/41px 40px;
  width: 41px;
  height: 40px;
  margin: 0 8px 0 0;
  display: inline-block;
}
#deps06 .con_box .formbox {
  width: 70%;
}
#deps06 .con_box .formbox form .flex {
  display: flex;
  justify-content: space-between;
}
#deps06 .con_box .formbox .left {
  width: 50%;
  margin: 0 5% 0 0;
}
#deps06 .con_box .formbox .left input::-moz-placeholder {
  font-size: 1.125rem;
  font-family: "NanumSquare", sans-serif;
  color: #000;
}
#deps06 .con_box .formbox .left input::placeholder {
  font-size: 1.125rem;
  font-family: "NanumSquare", sans-serif;
  color: #000;
}
#deps06 .con_box .formbox .left input {
  font-size: 1.125rem;
  font-family: "NanumSquare", sans-serif;
}
#deps06 .con_box .formbox .left label {
  display: none;
}
#deps06 .con_box .formbox .left p {
  margin: 0 0 20px 0;
}
#deps06 .con_box .formbox .left p select {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border: 0;
  background: #fff;
  border-bottom: 1px solid #000;
  font-size: 1.125rem;
  font-family: "NanumSquare", sans-serif;
  padding: 0 10px;
}
#deps06 .con_box .formbox .left .flex {
  display: flex;
  align-items: center;
}
#deps06 .con_box .formbox .left .flex p {
  width: 50%;
  border-bottom: 1px solid #000;
}
#deps06 .con_box .formbox .left .flex p:first-child {
  margin: 0 5% 20px 0;
}
#deps06 .con_box .formbox .left .flex p input {
  width: 100%;
  height: 50px;
  border: 0;
  padding: 0 10px;
  outline: 0;
}
#deps06 .con_box .formbox .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#deps06 .con_box .formbox .box .ag label {
  display: block !important;
  margin: 25px 0 0;
}
#deps06 .con_box .formbox .box .ag label span {
  font-size: 1.1rem;
  color: #888;
}
#deps06 .con_box .formbox .box .ag .check {
  display: none;
}
#deps06 .con_box .formbox .box .ag input + label {
  cursor: pointer;
  display: flex;
}
#deps06 .con_box .formbox .box .ag input + label:before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  min-width: 22px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  vertical-align: middle;
  transition: all 0.5s;
  border-radius: 100%;
}
#deps06 .con_box .formbox .box .ag input + label > span {
  vertical-align: middle;
  padding-left: 10px;
  text-align: left;
}
#deps06 .con_box .formbox .box .ag input:checked + label:before {
  content: "";
  background: url("../img/check_in.png");
  border: 0;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: 50%;
}
#deps06 .con_box .formbox .box .btn {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  margin: 17px 0 0;
}
#deps06 .con_box .formbox .box .btn:hover .bg_icon i {
  animation: iconRoll 4s linear infinite;
  opacity: 1;
}
#deps06 .con_box .formbox .box .btn span {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0 5px 0 0;
}
#deps06 .con_box .formbox .box .btn .bg_icon {
  position: relative;
  z-index: -1;
}
#deps06 .con_box .formbox .box .btn .bg_icon i {
  width: 35px;
  height: 22px;
  background: #2D6770;
  position: absolute;
  top: -10px;
  right: -20px;
  display: block;
  opacity: 0;
  transition: opacity 2s;
}
#deps06 .con_box .formbox .box .btn .bg_icon i::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 11px solid #2D6770;
}
#deps06 .con_box .formbox .box .btn .bg_icon i::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 11px solid #2D6770;
  transform: rotate(180deg);
}
@keyframes iconRoll {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
#deps06 .con_box .formbox .box .btn b.arrow {
  width: 45px;
  background: #000;
  height: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
#deps06 .con_box .formbox .box .btn b.arrow:after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(45deg);
  position: absolute;
  top: -6px;
  right: 1px;
}
#deps06 .con_box .formbox .right {
  width: 50%;
}
#deps06 .con_box .formbox .right p span {
  display: block;
  font-size: 1.125rem;
  margin: 0 0 22px 0;
}
#deps06 .con_box .formbox .right p textarea {
  resize: none;
  width: 100%;
  height: 145px;
}

/* ======================= 1600 =============================*/
/* ======================= 1440 =============================*/
/* ======================= 1360 =============================*/
/* ======================= 1280 =============================*/
@media (max-width: 1280px) {
  .mf_nom {
    font-size: 3.7rem;
  }
  .mf_xom {
    font-size: 1.2rem;
  }
  .mf_lonf {
    font-size: 1.9rem;
  }
  .mf_nomal {
    font-size: 3.1rem;
  }
  .mf_small {
    font-size: 1.1rem;
  }
  #deps03 .txt .none {
    display: none;
  }
  #deps06 .con_box {
    padding: 50px;
  }
}
/* ======================= 1024 =============================*/
@media (max-width: 1024px) {
  .sm_title {
    font-size: 1rem;
  }
  .big_title {
    font-size: 2rem;
  }
  #contents {
    padding-top: 80px;
  }
  #deps01 .inner .title_bx p {
    letter-spacing: 8px;
    margin: 0 0 20px 0;
  }
  #deps02 .inner .mf_xom br {
    display: none;
  }
  #deps02 .h_box ul li {
    float: none;
    width: 100%;
  }
  #deps02 .h_box ul li .box .p_show {
    display: none;
  }
  #deps02 .h_box ul li .box .m_show {
    display: block;
  }
  #deps03 .tube {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  #deps03 .tube .videobox {
    margin: 0 0 50px 0;
  }
  #deps03 .tube .txt {
    text-align: center;
  }
  #deps04 .swiper {
    margin: 50px auto 0;
  }
  #deps04 .swiper-slide {
    flex-direction: column;
  }
  #deps04 .swiper-slide figure {
    width: 80%;
    max-width: 605px;
    text-align: center;
  }
  #deps04 .swiper-slide .txt {
    width: 80%;
    max-width: 605px;
    text-align: center;
    margin: 35px 0 0;
  }
  #deps04 .swiper-button-prev,
  #deps04 .swiper-rtl .swiper-button-next {
    top: 30%;
    left: 0;
  }
  #deps04 .swiper-button-next,
  #deps04 .swiper-rtl .swiper-button-prev {
    top: 30%;
    right: 0;
  }
  #deps05 .inner ul li {
    display: flex;
    justify-content: flex-start;
    margin: 0 20% 50px 0;
  }
  #deps05 .inner ul li .fox {
    flex-direction: column;
    align-items: start;
  }
  #deps05 .inner ul li .fox .txt {
    margin: 30px 0 0;
  }
  #deps05 .inner ul li.center {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 50px 20%;
  }
  #deps05 .inner ul li.center .fox {
    flex-direction: column-reverse;
    align-items: end;
  }
  #deps05 .inner ul li.center .fox .txt {
    margin: 30px 0 0;
  }
  #deps05 .inner ul li.last {
    justify-content: flex-end;
    margin: 0 0 50px 20%;
  }
  #deps05 .inner ul li.last .fox {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  #deps05 .inner ul li.last .fox .txt {
    margin: 30px 0 0;
  }
  #deps05 .inner ul li.left .fox {
    margin: 0 0;
  }
  #deps06 .con_box {
    flex-direction: column;
  }
  #deps06 .con_box .title {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  #deps06 .con_box .title a {
    justify-content: center;
    margin: 0 0 50px 0;
  }
  #deps06 .con_box .formbox {
    width: 100%;
  }
  #deps06 .con_box .formbox form {
    flex-direction: column;
  }
}
/* ======================= 991 =============================*/
/* ======================= 768 =============================*/
@media (max-width: 768px) {
  #deps06 .con_box .formbox .box {
    flex-direction: column;
  }
  #deps06 .con_box .formbox form .flex {
    flex-direction: column;
  }
  #deps06 .con_box .formbox .left {
    width: 100%;
    margin: 0 0 10px 0;
  }
  #deps06 .con_box .formbox .left .flex p {
    width: 100%;
    margin: 0 0 20px 0;
  }
  #deps06 .con_box .formbox .left .flex p:first-child {
    margin: 0 0 10px 0;
  }
  #deps06 .con_box .formbox .right {
    width: 100%;
  }
}
/* ======================= 640 =============================*/
/* ======================= 540 =============================*/
/* ======================= 480 =============================*/
@media (max-width: 480px) {
  .mf_lonf {
    font-size: 1.5rem;
  }
  .mf_nom {
    font-size: 3rem;
  }
  .mf_nomal {
    font-size: 2.5rem;
  }
  .mf_sub {
    font-size: 1.2rem;
  }
  #contents {
    padding-top: 62px;
  }
  #deps02 .h_box ul li:hover .w-content i {
    margin-top: 15px;
  }
  #deps02 .h_box ul li .w-content i {
    width: 27px;
    height: 27px;
  }
  #deps03 .tube {
    width: 100%;
  }
  #deps04 .inner p {
    letter-spacing: 3px;
  }
  #deps04 .swiper {
    margin: 30px auto 0;
  }
  #deps04 .swiper-slide .txt a i {
    width: 27px;
    height: 27px;
  }
  #deps04 .swiper-button-prev,
  #deps04 .swiper-rtl .swiper-button-next {
    top: 20%;
  }
  #deps04 .swiper-button-next,
  #deps04 .swiper-rtl .swiper-button-prev {
    top: 20%;
  }
  #deps05 .inner p {
    letter-spacing: 3px;
  }
}
/* ======================= 414 =============================*/
@media (max-width: 414px) {
  #deps06 .con_box {
    padding: 50px 30px;
  }
}/*# sourceMappingURL=main.css.map */
