.su_big {
  font-size: 6.25rem;
}

.su_nom {
  font-size: 4.375rem;
}

.su_small {
  font-size: 1.25rem;
}

.su_sub {
  font-size: 1.5rem;
}

.su_bix {
  font-size: 2.125rem;
}

.su_cix {
  font-size: 1.8125rem;
}

.su_mix {
  font-size: 1.375rem;
}

#board_area {
  margin: 0 0 100px 0;
}

#hd_login_msg {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.board_visual {
  position: relative;
}
.board_visual .bg {
  background: url("../img/board_visual.png") no-repeat center/cover;
  width: 100%;
  border-radius: 20px;
  height: 430px;
}
.board_visual .txt {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  color: #fff;
  text-align: center;
  width: 100%;
}
.board_visual .txt p {
  letter-spacing: 7px;
}

.company_visual {
  position: relative;
}
.company_visual .bg {
  background: url("../img/company_visual.png") no-repeat center/cover;
  width: 100%;
  border-radius: 20px;
  height: 430px;
}
.company_visual .txt {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  color: #fff;
  text-align: center;
  width: 100%;
}
.company_visual .txt p {
  letter-spacing: 7px;
}

.category {
  margin: 50px 0 0;
}
.category .inner {
  max-width: 1500px;
}
.category ul {
  display: flex;
  align-items: center;
}
.category ul li a {
  color: #737373;
}
.category .first {
  padding-right: 40px;
  position: relative;
}
.category .first:after {
  position: absolute;
  right: 15px;
  top: 12px;
  content: "";
  width: 6px;
  height: 6px;
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
  transform: rotate(45deg);
}

.board_tab {
  margin: 100px 0 50px;
}
.board_tab .inner {
  max-width: 1500px;
}
.board_tab ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board_tab ul li {
  width: 100%;
  text-align: center;
}
.board_tab ul li a {
  border: 1px solid #B5B6B6;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  color: #B5B6B6;
}
.board_tab ul li a.active {
  color: #fff;
  background: #2D6770;
}

.board_list .bo-top-wrap .board-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.board_list .bo-top-wrap .board-btn.btn-text-none a {
  border: 1px solid #000;
  text-align: center;
  display: block;
  text-align: right;
}
.board_list .inner {
  max-width: 1500px;
  margin: 0 auto 100px;
}
.board_list .title {
  margin: 0 0 50px 0;
}
.board_list .title p {
  letter-spacing: 7px;
}
.board_list ul.clearfix {
  box-sizing: border-box;
}
.board_list ul.clearfix li {
  float: left;
  width: 31%;
  margin: 0 3.5% 50px 0;
}
.board_list ul.clearfix li:nth-of-type(3n) {
  margin: 0 0 50px 0;
}
.board_list ul.clearfix li:nth-child(4) {
  clear: both;
}
.board_list ul.clearfix li a {
  display: block;
  position: relative;
  transition: all 0.3s;
}
.board_list ul.clearfix li a:hover {
  transform: translateY(-30px);
  box-shadow: 18px 36px 70px 0px rgba(0, 0, 0, 0.34);
  transition: all 0.3s;
}
.board_list ul.clearfix li a:hover .hover_box {
  opacity: 0;
}
.board_list ul.clearfix li a figure {
  width: 100%;
}
.board_list ul.clearfix li a figure img {
  width: 100%;
}
.board_list ul.clearfix li a .hover_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s;
  padding: 0 10px;
}
.board_list ul.clearfix li a .hover_box .sub_tit {
  letter-spacing: 7px;
  margin: 0 0 7% 0;
}
.board_list .gallery-list-checkbox {
  margin-bottom: 30px;
}
.board_list .gallery-list-checkbox .check-box {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.board_list .gallery-list-checkbox .check-box input {
  display: none;
}
.board_list .gallery-list-checkbox .check-box input + label {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.board_list .gallery-list-checkbox .check-box input + label:before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  min-width: 22px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  vertical-align: middle;
  transition: all 0.5s;
  border-radius: 100px;
  margin: 0 10px 0 0;
}
.board_list .gallery-list-checkbox .check-box input + label > span {
  vertical-align: middle;
  text-align: left;
  font-size: 1.3rem;
}
.board_list .gallery-list-checkbox .check-box input:checked + label:before {
  content: "";
  background: url(../img/check_in.png);
  border: 0;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: 50%;
}
.board_list .bo-bottom-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.board_list .bo-bottom-wrap ul {
  display: flex;
  align-items: center;
}
.board_list .bo-bottom-wrap ul li {
  margin: 0 10px 0 0;
}
.board_list .bo-bottom-wrap ul li button {
  font-size: 1.1rem;
  background: none;
  border: 1px solid #ddd;
  outline: 0;
  font-family: "NanumSquare", sans-serif;
  padding: 10px 15px;
  color: #888;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}
.board_list .bo-bottom-wrap ul li button:hover {
  border: 1px solid #000;
  color: #000;
}
.board_list .bo-bottom-wrap .list-bottom-right {
  display: flex;
}
.board_list .bo-bottom-wrap .list-bottom-right a {
  font-size: 1.1rem;
  background: none;
  border: 1px solid #ddd;
  color: #888;
  transition: all 0.5s ease-in-out;
  padding: 10px 15px;
  border-radius: 5px;
}
.board_list .bo-bottom-wrap .list-bottom-right a.btn-bo-write {
  background: #000;
  color: #fff;
  margin: 0 0 0 10px;
}
.board_list .bo-bottom-wrap .list-bottom-right a.btn-bo-write:hover {
  background: none;
  color: #000;
  border: 1px solid #000;
}
.board_list .bo-bottom-wrap .list-bottom-right a:hover {
  border: 1px solid #000;
  color: #000;
}

.board_view_list {
  margin: 100px 0;
}
.board_view_list .inner {
  max-width: 1500px;
  margin: 0 auto 100px;
}
.board_view_list .bo-v-btn-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.board_view_list .bo-v-btn-wrap .bo-v-btn-left {
  display: flex;
  align-items: center;
}
.board_view_list .bo-v-btn-wrap .bo-v-btn-left a {
  text-indent: -9999px;
  border: none;
  width: 30px;
  padding-left: 30px;
  background-position: center center !important;
  background-size: 22px auto;
}
.board_view_list .bo-v-btn-wrap .bo-v-btn-left a.btn-bo-modify {
  background: url(../img/reset.svg) 8px center no-repeat;
  padding-left: 32px !important;
  background-size: 21px auto;
}
.board_view_list .bo-v-btn-wrap .bo-v-btn-left a.btn-bo-delete {
  background: url(../img/trash.svg) 5px center no-repeat;
  padding-left: 30px !important;
}
.board_view_list .bo-v-btn-wrap .bo-v-btn-left a.btn-bo-copy {
  background: url(../img/files_stack.svg) 5px center no-repeat;
  padding-left: 30px !important;
}
.board_view_list .bo-v-btn-wrap .bo-v-btn-left a.btn-bo-move {
  background: url(../img/move.svg) 5px center no-repeat;
  padding-left: 30px !important;
}
.board_view_list .bo-v-btn-wrap .bo-v-btn-right {
  display: flex;
  align-items: center;
}
.board_view_list .bo-v-btn-wrap .bo-v-btn-right a {
  text-indent: -9999px;
  border: none;
  width: 30px;
  padding-left: 30px;
  background-position: center center !important;
  background-size: 22px auto;
}
.board_view_list .bo-v-btn-wrap .bo-v-btn-right a.btn-bo-list {
  background: url(../img/list.svg) 5px center no-repeat;
  padding-left: 30px !important;
  background-size: 28px auto;
}
.board_view_list .bo-v-btn-wrap .bo-v-btn-right a.btn-bo-write {
  background: url(../img/write.svg) 5px center no-repeat;
  padding-left: 32px !important;
}
.board_view_list .bo_txt ul {
  border-bottom: 1px solid #707070;
  border-top: 2px solid #707070;
}
.board_view_list .bo_txt ul li {
  display: flex;
  box-sizing: border-box;
}
.board_view_list .bo_txt ul li span {
  width: 70%;
  padding: 30px 10px 30px 30px;
  border-bottom: 1px solid #707070;
}
.board_view_list .bo_txt ul li span.subject {
  background: #eee;
  color: #737373;
  display: block;
  width: 30%;
}
.board_view_list #bo_v_atc {
  margin: 50px 0;
}
.board_view_list .listbtn {
  text-align: center;
}
.board_view_list .listbtn a {
  font-size: 1.1rem;
  background: none;
  border: 1px solid #ddd;
  color: #888;
  transition: all 0.5s ease-in-out;
  padding: 10px 30px;
  border-radius: 5px;
  display: inline-block;
}
.board_view_list .listbtn a:hover {
  border: 1px solid #000;
  color: #000;
}

.pg_wrap {
  clear: both;
  text-align: center;
  margin: 50px 0 0;
  display: block;
  float: none;
}
.pg_wrap .pg {
  text-align: center;
}
.pg_wrap .msg_sound_only, .pg_wrap .sound_only {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  font-size: 0 !important;
  line-height: 0 !important;
  overflow: hidden;
}
.pg_wrap .pg_current {
  display: inline-block;
  background: #2D6770;
  border: 1px solid #2D6770 !important;
  color: #fff;
  font-weight: bold;
  height: 35px;
  line-height: 33px;
  padding: 0 13px;
  min-width: 30px;
  position: relative;
  color: #fff;
}
.pg_wrap .pg_page {
  color: #959595;
  font-size: 14px;
  height: 35px;
  line-height: 33px;
  padding: 0 13px;
  min-width: 30px;
  text-decoration: none;
  position: relative;
}
.pg_wrap .pg_end {
  text-indent: -999px;
  overflow: hidden;
  padding: 0;
  width: 35px;
  border: 1px solid #ddd;
  background: none;
}
.pg_wrap .pg_end::after {
  font-family: FontAwesome;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  content: " \f101";
  z-index: 1;
  text-indent: 0;
  text-align: center;
  font-size: 18px;
}
.pg_wrap .pg_start {
  text-indent: -999px;
  overflow: hidden;
  padding: 0;
  width: 35px;
  border: 1px solid #ddd;
  background: none;
}
.pg_wrap .pg_start:after {
  content: "\f100";
  font-family: FontAwesome;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  text-indent: 0;
  text-align: center;
  font-size: 18px;
}
.pg_wrap .pg_page, .pg_wrap .pg_current {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 0;
  transition: all 0.3s ease-out;
}

#company_area .cont_in {
  margin: 100px 0 0px;
}
#company_area .cont_in .inner {
  max-width: 1500px;
  margin: 0 auto 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#company_area .cont_in .title small {
  display: block;
  color: rgba(71, 71, 71, 0.5);
}
#company_area .cont_in .title small span {
  margin: 0 23px 0 0;
}
#company_area .cont_in .title small span:first-child {
  margin: 0 23px 0 10px;
}
#company_area .cont_in .title strong {
  color: rgba(71, 71, 71, 0.5);
  font-weight: 800;
}
#company_area .cont_in .txt {
  color: #000000;
  font-weight: 600;
}
#company_area .cont_in .left {
  position: relative;
  margin: 0 5% 0 0;
  width: 60%;
}
#company_area .cont_in .left ul {
  display: flex;
  align-items: center;
  margin: 11% 0 0;
  width: 100%;
}
#company_area .cont_in .left ul li {
  width: 25%;
  margin: 0 3% 0 0;
}
#company_area .cont_in .left ul li:last-child {
  margin: 0;
}
#company_area .cont_in .right {
  width: 40%;
}
#company_area .cont_in .certification_area {
  background: #f8f8f8;
  padding: 100px 0 0;
}
#company_area .cont_in .certification_area .inner {
  display: block;
  max-width: 1300px;
}
#company_area .cont_in .certification_area .inner h3 {
  font-weight: 800;
  margin: 0 0 50px 0;
  text-align: center;
}
#company_area .cont_in .certification_area .inner ul {
  display: flex;
  flex-wrap: wrap;
}
#company_area .cont_in .certification_area .inner ul li {
  flex: 1 1 30%;
  margin: 0 5% 50px 0;
  text-align: center;
}
#company_area .cont_in .certification_area .inner ul li:nth-of-type(3n) {
  margin: 0 0 50px 0;
}
#company_area .cont_in .certification_area .cont_box {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 0 100px 0;
  width: 90%;
}
#company_area .cont_in .certification_area .cont_box .con_box {
  display: flex;
  border: 10px solid #CFCFCF;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
}
#company_area .cont_in .certification_area .cont_box .con_box .map_area {
  width: 50%;
  margin: 0 5% 0 0;
}
#company_area .cont_in .certification_area .cont_box .con_box .map_area .root_daum_roughmap_landing {
  width: 100% !important;
}
#company_area .cont_in .certification_area .cont_box .con_box .map_area .root_daum_roughmap .wrap_map {
  height: 500px !important;
}
#company_area .cont_in .certification_area .cont_box .con_box .title {
  width: 50%;
}
#company_area .cont_in .certification_area .cont_box .con_box .title span.sub_t {
  display: block;
  letter-spacing: 7px;
  color: #707070;
}
#company_area .cont_in .certification_area .cont_box .con_box .title .mailing {
  display: flex;
  align-items: center;
}
#company_area .cont_in .certification_area .cont_box .con_box .title .mailing i {
  background: url("../img/email.png") no-repeat center;
  background-size: 44px 36px;
  width: 44px;
  height: 36px;
  display: block;
  margin: 0 20px 0 0;
  min-width: 44px;
}
#company_area .cont_in .certification_area .cont_box .con_box .title .tel {
  display: flex;
  align-items: center;
  margin: 40px 0;
}
#company_area .cont_in .certification_area .cont_box .con_box .title .tel i {
  background: url("../img/tel.png") no-repeat center;
  background-size: 41px 39px;
  width: 44px;
  height: 39px;
  display: block;
  margin: 0 20px 0 0;
  min-width: 44px;
}
#company_area .cont_in .certification_area .cont_box .con_box .title .address {
  margin: 0 0 40px 0;
  display: flex;
  align-items: center;
}
#company_area .cont_in .certification_area .cont_box .con_box .title .address i {
  background: url("../img/location.png") no-repeat center;
  background-size: 37px 53px;
  width: 44px;
  height: 53px;
  display: block;
  margin: 0 20px 0 0;
  min-width: 44px;
}

@media (max-width: 1360px) {
  #company_area .cont_in .s_txt p > .none {
    display: none;
  }
}
@media (max-width: 1280px) {
  .su_small {
    font-size: 1rem;
  }
  .su_bix {
    font-size: 1.8rem;
  }
  .su_nom {
    font-size: 3.7rem;
  }
  .su_sub {
    font-size: 1.3rem;
  }
  .su_big {
    font-size: 5rem;
  }
  .su_mix {
    font-size: 1.2rem;
  }
  .su_cix {
    font-size: 1.5rem;
  }
  #company_area .cont_in .certification_area .cont_box .con_box .map_area .root_daum_roughmap .wrap_map {
    height: 400px !important;
  }
  #company_area .cont_in .certification_area .cont_box .con_box .title .tel i {
    background-size: 33px 32px;
  }
  #company_area .cont_in .certification_area .cont_box .con_box .title .address i {
    background-size: 29px 42px;
  }
  #company_area .cont_in .certification_area .cont_box .con_box .title .mailing i {
    background-size: 34px 30px;
  }
}
@media (max-width: 1024px) {
  .su_big {
    font-size: 4rem;
  }
  .board_list ul.clearfix li {
    width: 48%;
    margin: 0 4% 50px 0;
  }
  .board_list ul.clearfix li:nth-of-type(2n) {
    margin: 0 0 50px 0;
  }
  .board_list ul.clearfix li:nth-of-type(3n) {
    margin: 0 4% 50px 0;
  }
  .board_list ul.clearfix li:last-child {
    margin: 0 0 50px 0;
  }
  .board_list ul.clearfix li:nth-child(4) {
    clear: none;
  }
  #company_area .cont_in .certification_area .cont_box .con_box {
    flex-direction: column-reverse;
    padding: 50px 40px;
  }
  #company_area .cont_in .certification_area .cont_box .con_box .map_area {
    width: 100%;
    margin: 50px 0 0;
  }
  #company_area .cont_in .certification_area .cont_box .con_box .title {
    width: 100%;
  }
  #company_area .cont_in .inner {
    flex-direction: column;
  }
  #company_area .cont_in .inner .left {
    width: 100%;
    margin: 0 0 50px 0;
    text-align: center;
  }
  #company_area .cont_in .inner .left ul {
    justify-content: center;
  }
  #company_area .cont_in .inner .right {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .su_big {
    font-size: 3rem;
  }
  .su_mix {
    font-size: 1rem;
  }
  .board_visual .bg {
    height: 350px;
  }
  .board_tab {
    margin: 50px 0;
  }
  .board_tab ul {
    flex-wrap: wrap;
  }
  .board_tab ul li {
    flex: 1 1 50%;
  }
  .board_tab ul li a {
    height: 55px;
  }
  .company_visual .bg {
    height: 350px;
  }
  #company_area .cont_in {
    margin: 50px 0 0;
  }
  #company_area .cont_in .certification_area {
    padding: 50px 0 0;
  }
  #company_area .cont_in .certification_area .inner {
    margin: 0 auto 50px;
  }
  #company_area .cont_in .certification_area .inner ul li {
    flex: 1 1 45%;
  }
  #company_area .cont_in .certification_area .inner ul li:nth-of-type(2n) {
    margin: 0 0 30px 0;
  }
  #company_area .cont_in .certification_area .inner ul li:nth-of-type(3n) {
    margin: 0 5% 30px 0;
  }
  #company_area .cont_in .certification_area .inner ul li:last-child {
    margin: 0 0 30px 0;
  }
}
@media (max-width: 540px) {
  .board_list ul.clearfix li {
    width: 100%;
    margin: 0 0 50px 0;
  }
  .board_list ul.clearfix li:nth-of-type(2n) {
    margin: 0 0 50px 0;
  }
  .board_list ul.clearfix li:nth-of-type(3n) {
    margin: 0 0 50px 0;
  }
  .board_list ul.clearfix li:last-child {
    margin: 0 0 50px 0;
  }
}
@media (max-width: 480px) {
  .su_nom {
    font-size: 3rem;
  }
  .su_sub {
    font-size: 1.1rem;
  }
  .su_cix {
    font-size: 1.2rem;
  }
  .board_list .title p {
    letter-spacing: 3px;
  }
  .company_visual .bg {
    height: 270px;
  }
  .company_visual .txt p {
    letter-spacing: 3px;
  }
  .board_visual .bg {
    height: 270px;
  }
  .board_visual .txt p {
    letter-spacing: 3px;
  }
  #company_area .cont_in .inner .right {
    width: 100%;
  }
  #company_area .cont_in .certification_area .cont_box .con_box {
    padding: 40px 30px;
  }
  #company_area .cont_in .certification_area .cont_box .con_box .title {
    text-align: center;
  }
  #company_area .cont_in .certification_area .cont_box .con_box .title .tel {
    text-align: center;
    flex-direction: column;
    margin: 15px 0 20px;
  }
  #company_area .cont_in .certification_area .cont_box .con_box .title .tel i {
    background-size: 27px 26px;
    margin: 0 5px 0 0;
  }
  #company_area .cont_in .certification_area .cont_box .con_box .title .address {
    flex-direction: column;
    margin: 0 0 25px 0;
    text-align: center;
  }
  #company_area .cont_in .certification_area .cont_box .con_box .title .address i {
    margin: 0 5px 0 0;
    background-size: 23px 35px;
  }
  #company_area .cont_in .certification_area .cont_box .con_box .title .mailing {
    flex-direction: column;
    text-align: center;
  }
  #company_area .cont_in .certification_area .cont_box .con_box .title .mailing i {
    background-size: 26px 22px;
    margin: 0 5px 0 0;
  }
  #company_area .cont_in .certification_area .cont_box .con_box .map_area {
    margin: 30px 0 0;
  }
  #company_area .cont_in .certification_area .cont_box .con_box .map_area .root_daum_roughmap .wrap_map {
    height: 250px !important;
  }
}/*# sourceMappingURL=sub.css.map */
